body {
    background-color: #787a75;
}

input {
    height: 22px;
    width: 280px;
    padding: 8px;
    font-size: 1.2em;
    margin: 15px 70px;
    border-radius: 5px;
    text-align: right;
}
input[type=number]:focus {
    outline: none;
    box-shadow: 0 0 10px #3b59ee;
    border: 1px solid #74d0ff;
}

button {
    background-color: #027b7f;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #027b7f;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    width: 600px;
    background-color: rgb(207, 207, 207);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 40px;
    margin: auto;
    flex-direction: column;
    margin-top: 200px;

}

.calc {
    width: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    row-gap: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
